/* Footer */
* {
  box-sizing: border-box;
}

.footer {
  grid-area: footer;
  background: #f75;
  color: #000;
  font-size: 0.8rem;
  width: 100%;
  padding: 1rem;
}

.groups {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  text-transform: uppercase;
}

.rights {
  text-align: center;
}
